.filters {
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
}

.filter {
    padding: 0 20px;
}

.mr-10 {
    margin-right: 10px;
}

:host::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 18px;
}

:host::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 867px) {
    .filter {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .filters {
        margin-left: 0;
        flex-wrap: wrap;
    }
}
